* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;

    color:white;
}

main,
.site-name {
    background-color: grey;
}

a,
.btn-no-style,
#comment-subtitle {
    color: white;
}

a:hover,
.btn-no-style:hover {
    color: #e2edd5;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}

button {
    background-color: lightslategray;
    border: 0;
    padding: 1px;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color:lightslategray;
}

.post-list {
    margin: 0;
    padding: 20px;
    list-style-type: none;
}


textarea,
input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid lightslategray;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2px;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.info-section {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

header,
.site-row,
.info-section,
.form-heading {
    background-color:lightslategray;
}

.login-page,
.sign-in-page,
.new-form-page,
.edit-form-page {
    border: 3px dashed lightslategray;
    padding-bottom: 10px;
}

.form-heading {
    padding: 10px;
}

.info-section,
.content-section,
.form-section,
.sign-in-link,
.login-link {
    text-align: center;
}

.post-name,
.post-title-section, .new-page {
    padding-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1px;
}

header h1 {
    font-size: 1em;
}

.site-row {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: center;
}

.site-name {
    margin-bottom: 10px;
    padding: 0px 10px;
    border-radius: 10px;
    
}

main {
    flex: 1;
    padding: 2px 4px;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
}

.delete-post-btn {
    background-color: lightsteelblue;
    font-size: 1.5em;
    margin-left: 10px;
}

.update-post-btn {
    background-color: lightsteelblue;
    font-size: 1.5em;
    margin-right: 10px;
}

.add-comment-btn {
    background-color: lightsteelblue;
    font-size: 1.5em;
    margin-right: 10px;
}

.delete-post-btn:hover {
    background-color: lightslategray
}

.go-back {
    font-size: 1.5em;
    color: darkslateblue
}

.post {
    margin-bottom: 2px;
    line-height: 150%;
    border: 3px solid grey;
    border-radius: 10px;
}

.post .title span {
    font-size: 16px;
    color: #7d7d7d;
}

.edit-link {
    display: block;
    font-size: 1.5em;
    color:darkslateblue;
}

.comment-form {
    margin-bottom: 10px;
}

.comment {
    padding: 1px;
    margin-bottom: 1px;
    border-radius: 5px;
}

.comment:nth-child(odd) {
    background-color: white;
    border-radius: 5px;
}

.comment .meta {
    font-size: 16px;
    margin-bottom: 5px;
    opacity: .5;
    border-radius: 5px;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5px;
}

#comment-subtitle {
    font-size: 16px;
    font-style: bold;
}

.new-post-section {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#create-new-post {
    width: 100%;
    margin-top: 50px;
    font-size: 2em;
}

.sign-in-link,
.login-link {
    color: black
}

.form-heading h1,
.form-heading h2 {
    color: white;
}

.login-form,
.signup-form,
.post-content,
.post-title-section {
    padding: 20px 20px 0px 0px;
    border-radius: 5px;
}

.entry-field,
.login-signup-btn,
.btn,
#post-title {
    width: 100%;
}